text {
  alignment-baseline: before-edge;
  font-size: 2.5rem;
}

.game {
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: 40px 400px auto;
}

.status {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}

.drawing {
  box-shadow: 0 0 0 3px #eee;

  grid-column-start: 1;
  grid-row-start: 2;
}

.drawing * {
  pointer-events: none;
}

.chat {
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;

  box-shadow: 0 0 0 3px #eee;
  padding: 1rem;

  grid-template-columns: auto;
  grid-template-rows: auto 4rem;
  grid-row-gap: 1rem;
}

.chat .messages {
  grid-column-start: 1;
  grid-row-start: 1;

  overflow-y: scroll;
}

.message.system {
  color: #aaa;
  font-style: italic;
}

.message.guess {
  color: #00dd1d;
}

.message.system {
  color: #aaa;
  font-style: italic;
}

.chat form {
  margin: 0;
  grid-column-start: 1;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: auto 5rem;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
}

.chat form input {
  margin: 0;
  grid-column-start: 1;
  border-radius: 0;
  font-size: 1.6rem;
}

.chat form button {
  margin: 0;
  grid-column-start: 2;
  font-size: 2rem;
  border: 0;
  border-radius: 0;
  line-height: 1;
}

.controls {
  padding: 2rem 0 0 0;

  grid-column-start: 1;
  grid-row-start: 3;
}

.panel {
  margin-bottom: 1rem;
}

.color {
  width: 30px;
  height: 30px;
  border: 2px solid #eee;
  display: inline-block;
  cursor: pointer;
}

.drawing path {
  stroke-linecap: round;
  stroke-linejoin: round;
  shape-rendering: crispEdges;
}

.btn {
  display: inline-block;
  background: #06bafd;
  color: #fff;
  min-width: 2em;
  padding: 4px 8px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: #0069d9;
}
